body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/rolls_of_different_country_currencies_4k_hd_money-1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}